<div class="jumbotron">
	<h1>Welcome to Zuma Ventures LLC</h1>
	<p> <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %> or <%= link_to "Login", "#", class: "btn btn-primary btn-lg" %> </p>
</div>